<div class="container">
    <h2>Lawyer Dashboard</h2>

    <ul class="case-list">
        
    {{#each cases}}
        <li>
            <strong>{{this.client}}</strong> - "{{this.summary}}"  
            <span class="status">{{this.status}}</span>
        </li>
        {{/each}}
    </ul>
</div>
